<section class="" [ngClass]="theme == 'dark'?'bg-[#1b1d1e] text-dark-secondary':'bg-gray-50  text-light-secondary'">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
    <div class="flex flex-row items-center justify-center h-12 w-full my-2">
      <div class="flex items-center justify-center rounded-3xl  bg-green-100 h-10 w-10">
        <svg class="w-6 h-6 text-green-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z">
          </path>
        </svg>
      </div>
      <div class="ml-2 font-bold text-2xl :text-gray-100">VoidChat</div>
    </div>
    <div [ngClass]="theme == 'dark'?'bg-dark-accent text-dark-secondary':'bg-white  text-light-secondary'"
      class="w-full rounded-2xl shadow :border md:mt-0 sm:max-w-md xl:p-0 ">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl :text-white">
          Create an account
        </h1>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
          <div>
            <app-input [control]="authForm.controls.email" placeholder="email@mail.com" type="email" label="email" [size]="50"
              [maxlength]="80" [autofocus]="true" [required]="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></app-input>
          </div>
          <div>
              <app-input [control]="authForm.controls.password" placeholder="********" [type]="showPassword ? 'text':'password'"
                label="password" [minlength]="8" [maxlength]="25" [required]="true" title="8 حروف او اكثر">
                <svg class="absolute right-5 bottom-2.5 w-5 h-5 text-gray-400 hover:text-gray-900" fill="none" stroke="currentColor"
                  stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                  (click)="togglePassword()" *ngIf="!showPassword" input-icon>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z">
                  </path>
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                </svg>
                <svg class="absolute right-5  bottom-2.5 w-5 h-5 text-gray-400 hover:text-gray-900" fill="none" stroke="currentColor"
                  stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                  (click)="togglePassword()" *ngIf="showPassword" input-icon>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88">
                  </path>
                </svg>
              </app-input>
          </div>
          <div>
            <app-input [control]="authForm.controls.passwordConfirmation" placeholder="********"
              [type]="showPasswordConfirmation ? 'text':'password'" label="password" [minlength]="8" [maxlength]="25"
              [required]="true" title="8 حروف او اكثر">
              <svg class="absolute right-5 bottom-2.5 w-5 h-5 text-gray-400 hover:text-gray-900" fill="none" stroke="currentColor"
                stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                (click)="togglePasswordConfirmation()" *ngIf="!showPasswordConfirmation" input-icon>
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z">
                </path>
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              </svg>
              <svg class="absolute right-5  bottom-2.5 w-5 h-5 text-gray-400 hover:text-gray-900" fill="none" stroke="currentColor"
                stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                (click)="togglePasswordConfirmation()" *ngIf="showPasswordConfirmation" input-icon>
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88">
                </path>
              </svg>
            </app-input>
          </div>
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="terms" aria-describedby="terms" type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 :bg-gray-700 :border-gray-600 :focus:ring-primary-600 :ring-offset-gray-800">
            </div>
            <div class="ml-3 ">
              <label for="terms" class="font-light">Remember me</label>
            </div>
          </div>
          <button type="submit" [disabled]="authForm.invalid"
            [ngClass]="theme == 'dark'?'bg-dark-primary  text-dark-secondary':'bg-light-primary  text-light-secondary'"
            class="w-full border border-green-600 hover:bg-light-accent hover:cursor-pointer hover:text-gray-50 focus:ring-2 focus:ring-green-300  font-semibold rounded-3xl  px-5 py-2.5 text-center ">Create
            an account</button>
          <p class=" font-light ">
            Already have an account? <a class="font-medium text-green-400 hover:underline hover:text-green-600" routerLink="/">Login
              here</a>
          </p>
        </form>
      </div>
      </div>
    <div class="flex space-x-2" [ngClass]="theme == 'dark'?' text-dark-secondary':'  text-light-secondary'"><span>made with
        ❤️ by</span><span><a class="hover:underline" href="https://twitter.com/ElsaiedSamaka" target="_blank">
          <i> Saied
            Samaka</i></a></span>
    </div>
  </div>
  </section>
  <!-- Toast -->
  <app-toast *ngIf="showToast" toastType="error" [toastMessage]="toastMessage" (dismiss)="toggleToast()"></app-toast>
  <!-- loader -->
  <app-loading-spinner *ngIf="showLoader"></app-loading-spinner>