<section class="flex h-[94vh] overflow-hidden flex-col gap-2 pt-4 ">
  <div class="grid grid-cols-5 gap-4 h-full">
  <div class="sm:col-span-2 xs:col-span-full h-full p-2 border rounded-lg rounded-b-none  "
    [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'">
    <div [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'"
      class="flex items-center justify-between border-b">
      <span [ngClass]="currentTheme == 'dark'?'text-dark-secondary':''" class="text-xl font-semibold my-2">Contacts</span>
      <span>
        <svg class="w-5 h-5 absolute ml-auto" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
        </svg>
        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z">
          </path>
        </svg>
      </span>
    </div>
    <ul class="h-[90%] overflow-y-scroll">
      <li [ngClass]="currentTheme == 'dark'?'border-white/10 hover:bg-zinc-900/5':'border-zinc-900/10 hover:bg-zinc-50'"
        class=" w-full p-2 my-1 border rounded-lg hover:cursor-pointer ">
        <div class="flex justify-between space-x-2">
          <div class="inline-flex">
            <div class="p-3 border inline-flex rounded-full">
              <svg class="h-6 w-6 text-zinc-700" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21">
                </path>
              </svg>
            </div>
            <div class="flex-col ml-2" [ngClass]="currentTheme=='dark'?'text-dark-secondary':''">
              <div class="flex space-x-1 text-emerald-500"><b>Lorem ipsum</b>
              </div>
              <span>loremipsum@mail.com</span>
            </div>
          </div>
          <div class="mr-auto">
            <!---->
            <svg class="w-7 h-7 text-zinc-500 hover:text-zinc-900" fill="none" stroke="currentColor" stroke-width="1.5"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z">
              </path>
            </svg>
          </div>
        </div>
        <div [ngClass]="currentTheme=='dark'?'text-dark-secondary':''" class="p-2 flex justify-between items-center">
          <h3 class="font-semibold text-xl">Hello from the ..</h3>
          <em>12 d</em>
        </div>
      </li>
    </ul>
    </div>
    <!-- detailed content -->
    <div [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'"
      class="sm:col-span-3 xs:hidden sm:inline border rounded-lg rounded-b-none h-full overflow-y-scroll">
      <router-outlet></router-outlet>
    </div>
    <!-- detailed content -->
  </div>
</section>