<div class="post-as relative flex items-center space-x-2 hover:cursor-pointer rounded-full"
  >
  <ng-container [ngSwitch]="postAs">
    <div class=" inline-flex items-center justify-center" *ngSwitchCase="true">
      <svg class="w-9 h-9 p-1 ring-2 ring-gray-300 text-gray-400 rounded-full" (click)="togglePostAs()"
        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
      </svg>
      <svg (click)="togglePostAs()" class="w-4 h-4 lg:w-6 lg:h-6" fill="none" stroke="currentColor" stroke-width="2.5"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
        </svg>
      </div>
      <div class="inline-flex items-center justify-center" *ngSwitchCase="false">
        <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 :ring-gray-500" (click)="togglePostAs()"
          [src]="currentUser?.user_img" [alt]="currentUser?.email">
        <svg (click)="togglePostAs()" class="w-4 h-4 lg:w-6 lg:h-6" fill="none" stroke="currentColor" stroke-width="2.5"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
        </svg>
      </div>
      <div class=" inline-flex items-center justify-center" *ngSwitchDefault>
        <svg class=" w-8 h-8 p-1 ring-2 ring-gray-300 text-gray-400  rounded-full" (click)="togglePostAs()"
          fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
        </svg>
        <svg (click)="togglePostAs()" class="w-4 h-4 lg:w-6 lg:h-6" fill="none" stroke="currentColor" stroke-width="2.5"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
        </svg>
      </div>
      </ng-container>
  <div *ngIf="showPostAsPopOver" data-popover id="popover-default" role="tooltip"
    class="absolute top-11 -left-2 z-10 inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border rounded-lg shadow-sm :text-gray-400 :border-gray-600 :bg-gray-800">
    <div [ngClass]="currentTheme=='dark'?'border-white/10 bg-zinc-900 ':''"
      class="px-3 py-2  border-b  rounded-t-lg ">
      <h3 [class.text-white]="currentTheme== 'dark'" class="font-semibold text-gray-900 ">Select what others will see</h3>
    </div>
    <div class="w-full">
      <!-- Dropdown menu -->
      <div id="dropdownRadioBgHover" [class.bg-zinc-800]="currentTheme=='dark'" [class.divide-gray-600]="currentTheme=='dark'"
        class="z-10 w-full divide-y divide-gray-100 rounded-b-lg ">
        <ul [class.text-dark-accent]="currentTheme=='dark'" class="p-3 space-y-1 text-sm text-gray-700 hover:cursor-pointer"
          aria-labelledby="dropdownRadioBgHoverButton">
          <li class="" (click)="handlePostAsUser()">
            <div class="flex items-center p-2 rounded hover:cursor-pointer hover:bg-gray-100">
              <input id="default-radio-4" type="radio" value="" name="default-radio"
                class="w-4 h-4 sr-only text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 :focus:ring-blue-600 :ring-offset-gray-700 :focus:ring-offset-gray-700 focus:ring-2 :bg-gray-600 :border-gray-500">
              <label for="default-radio-4"
             [class.text-dark-secondary]="currentTheme=='dark'"   class="w-full ml-2 text-sm font-medium rounded ">as
                <div
                  class="relative inline-flex items-center justify-center w-8 h-8 p-2 outline-dashed outline-1 mx-2 overflow-hidden bg-gray-100 rounded-full">
                  <span class="font-medium text-gray-600 ">JL</span>
                </div>
                <span class="font-bold">{{currentUser?.email.split("@")[0]}}</span></label>
            </div>
          </li>
          <li (click)="handlePostAsAnonymous()">
            <div class="flex items-center p-2 rounded hover:bg-gray-100 hover:cursor-pointer">
              <input checked id="default-radio-5" type="radio" value="" name="default-radio"
                class="w-4 h-4 sr-only text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 :focus:ring-blue-600 :ring-offset-gray-700 :focus:ring-offset-gray-700 focus:ring-2 :bg-gray-600 :border-gray-500">
              <label for="default-radio-5"
              [class.text-dark-secondary]="currentTheme=='dark'"  class="w-full flex items-center ml-2 text-sm font-medium rounded :text-gray-300">as <div
                  class="relative inline-flex items-center justify-center w-8 h-8 p-2 mx-2 overflow-hidden bg-gray-100 rounded-full">
                <svg class=" w-10 h-10 text-gray-400 " fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                </svg>
                </div> <span class="font-bold">anonymous</span></label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div data-popper-arrow></div>
  </div>
</div>