<div class="fixed inset-0 z-50" id="headlessui-dialog-:ro:" role="dialog" aria-modal="true"
  data-headlessui-state="open">
  <div [ngClass]="currentTheme=='dark'?'bg-black/40':'bg-zinc-400/25'"
    class="fixed inset-0  backdrop-blur-sm opacity-100"></div>
  <div class="fixed inset-0 overflow-y-auto px-4 py-4 sm:px-6 sm:py-20 md:py-32 lg:px-8 lg:py-[15vh]">
    <div [ngClass]="currentTheme == 'dark'?'bg-zinc-900 ring-zinc-800':'bg-zinc-50 ring-zinc-900/7.5'"
      class="mx-auto transform-gpu overflow-hidden rounded-lg  shadow-xl ring-1   sm:max-w-xl opacity-100 scale-100"
      id="headlessui-dialog-panel-:rp:" data-headlessui-state="open">
      <div role="combobox" aria-expanded="true" aria-haspopup="listbox" aria-labelledby=":r0:-label"
        aria-owns=":r0:-list">
        <form action="" novalidate="" role="search">
          <div class="group relative flex h-12"><svg viewBox="0 0 20 20" fill="none" aria-hidden="true"
              class="pointer-events-none absolute left-3 top-0 h-full w-5 stroke-zinc-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12.01 12a4.25 4.25 0 1 0-6.02-6 4.25 4.25 0 0 0 6.02 6Zm0 0 3.24 3.25"></path>
            </svg><input [ngClass]="currentTheme == 'dark'?'text-white':'text-zinc-900'"
              class="flex-auto appearance-none bg-transparent pl-10 outline-none placeholder:text-emerald-50 focus:w-full focus:flex-none  sm:text-sm [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden [&amp;::-webkit-search-results-button]:hidden [&amp;::-webkit-search-results-decoration]:hidden pr-4"
              aria-autocomplete="both" aria-labelledby=":r0:-label" id=":r0:-input" autocomplete="off" autocorrect="off"
              autocapitalize="off" enterkeyhint="go" spellcheck="false" placeholder="Find something..." maxlength="512"
              type="search" value="a" aria-activedescendant=":r0:-item-0" aria-controls=":r0:-list"></div>
          <div
                 [ngClass]="currentTheme == 'dark'?'bg-white/2.5 border-zinc-100/5 ':'border-zinc-200 bg-white'"       class="border-t  empty:hidden ">
                        <ul role="listbox" aria-labelledby=":r0:-label" id=":r0:-list">
                            <li class="group block cursor-default px-4 py-3 hover:bg-zinc-800/50"
                                aria-labelledby=":r19:-hierarchy :r19:-title" id=":r0:-item-0" role="option"
                                aria-selected="true">
                                <div id=":r19:-title" aria-hidden="true"
                                [ngClass]="currentTheme=='dark'?'text-white':'text-zinc-900'"    class="text-sm font-medium  ">
                                    <span><mark class="underline bg-transparent text-emerald-500 ">A</mark><span
                                            class="">PI Document</span><mark
                                            class="underline bg-transparent text-emerald-500 ">a</mark><span
                                            class="">tion</span></span>
                                </div>
                                <div id=":r19:-hierarchy" aria-hidden="true"
                                    class="mt-1 truncate whitespace-nowrap text-2xs text-zinc-500"><span><span
                                            class="">Guides</span></span><span class="sr-only">/</span></div>
                            </li>
                            <li class="group block cursor-default px-4 py-3 aria-selected:bg-zinc-50 dark:aria-selected:bg-zinc-800/50 border-t border-zinc-100 dark:border-zinc-800"
                                aria-labelledby=":r1a:-hierarchy :r1a:-title" id=":r0:-item-1" role="option"
                                aria-selected="false">
                                <div id=":r1a:-title" aria-hidden="true"
                                    class="text-sm font-medium text-zinc-900 group-aria-selected:text-emerald-500 dark:text-white">
                                    <span><mark class="underline bg-transparent text-emerald-500 ">A</mark><span
                                            class="">tt</span><mark
                                            class="underline bg-transparent text-emerald-500 ">a</mark><span
                                            class="">chments</span></span>
                                </div>
                                <div id=":r1a:-hierarchy" aria-hidden="true"
                                    class="mt-1 truncate whitespace-nowrap text-2xs text-zinc-500"><span><span
                                            class="">Resources</span></span><span class="sr-only">/</span></div>
                            </li>
                        </ul>
                        </div>
        </form>
      </div>
    </div>
  </div>
</div>