<header class="lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex">
  <div
    class=" lg:pointer-events-auto lg:block lg:w-72 lg:overflow-y-auto lg:border-r lg:border-zinc-900/10 lg:px-6 lg:pb-8 lg:pt-4 lg:border-white/10 xl:w-80">
    <div class="hidden lg:flex lg:items-center lg:justify-between">
      <a aria-label="Home" class="flex flex-row-reverse gap-2">
        <b class="text-2xl">VoidHub</b>
        <svg class="h-8 font-semibold text-emerald-400" fill="current" stroke="currentColor" stroke-width="1.5"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5"></path>
        </svg>
      </a>
    </div>
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
  </div>
</header>