<!-- Main modal -->
<!-- dimmed bg  -->
<!-- <div class="fixed z-30 inset-0 hidden bg-gray-50 bg-opacity-0 transition-opacity md:block"></div> -->
<!-- blured bg  -->
<div class="fixed z-40 inset-0 backdrop-blur-sm md:block" (click)="onDismissClick()"></div>
<div class="w-[50%] z-40 fixed top-[15%] left-1/4 mx-auto rounded-2xl shadow-2xl  px-5 py-5 backdrop-blur-md bg-white">
  <div class="flex flex-col w-full  ">
    <!-- Modal content -->
    <!-- Modal header -->
    <div class="modal-header">
      <ng-content select="[modal-header]"></ng-content>
    </div>
    <!-- Modal body -->
    <div class="modal-body overflow-scroll ">
    
      <ng-content select="[modal-body]"></ng-content>
    
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
    
      <ng-content select="[modal-footer]"></ng-content>

    </div>
  </div>
</div>