<section class="flex h-[94vh] flex-col mt-3">
  <div class="grid grid-cols-4 gap-4 ">
    <div [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'" class="lg:col-span-auto md:col-span-3 sm:col-span-full xs:col-span-full  p-2 border rounded-lg ">
      <!-- create Post component -->
      <app-create-post [currentTheme]="currentTheme"></app-create-post>
      <!-- create Post component -->
      <!-- time line component -->
      <app-timeline [currentTheme]="currentTheme"></app-timeline>
      <!-- time line component -->
    </div>
    <!-- left side info bar -->
    <div [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'"
      class="md:block xs:hidden border rounded-lg">
      <!-- latest contacts -->
      <div class="w-full max-w-md p-4 rounded-lg">
        <div class="flex items-center justify-between mb-4">
          <h5 class="text-xl font-bold leading-none text-gray-900">Latest Contacts</h5>
          <a [routerLink]="['messages']" class="text-sm font-medium text-emerald-900 hover:underline hover:cursor-pointer">
            View all
          </a>
        </div>
        <div class="flow-root max-h-64 h-64 overflow-y-scroll">
          <ul role="list" class="divide-y divide-gray-200">
            <li class="py-3 sm:py-2 hover:cursor-pointer">
              <div class="flex items-center space-x-4   hover:bg-zinc-50 ">
                <div class="flex-shrink-0">
                  <img class="w-8 h-8 rounded-full"
                    src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="Neil image">
                </div>
                <div class="relative w-full">
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-semibold text-gray-900 truncate :text-white">
                      Neil Sims
                    </p>
                    <p class="text-sm text-gray-500 truncate :text-gray-400">
                      hello there
                    </p>
                  </div>
                  <div class="absolute flex top-0 right-0 text-sm text-gray-900">
                    <span>12h</span>
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- latest contacts -->
      <hr class="border" [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'">
      <!-- Jobs For You -->
      <div class="w-full max-w-md p-4 rounded-lg">
        <div class="flex items-center justify-between mb-4">
          <h5 class="text-xl font-bold leading-none text-gray-900">Jobs FYI</h5>
          <a [routerLink]="['jobs']" class="text-sm font-medium text-emerald-900 hover:underline hover:cursor-pointer">
            View all
          </a>
        </div>
        <div class="flow-root h-[51vh] overflow-y-scroll">
          <ul role="list" class=" h-[95%]">
          <app-company-card [currentTheme]="currentTheme"></app-company-card>
            
          </ul>
        </div>
      </div>
      <!-- Jobs For You -->
      </div>
    <!-- left side info bar -->
  </div>
</section>