<section class="flex h-[94vh] flex-col gap-2 pt-4 ">
  <div class="grid grid-cols-5 gap-4 h-full ">
    <div class="sm:col-span-2 xs:col-span-full h-full p-2 border rounded-lg rounded-b-none  "
      [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'">
      <!-- articles  -->
      <ul [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'"
      class="col-span-2 p-2 border rounded-lg rounded-b-none overflow-y-scroll ">
      <ng-container *ngIf="savedArticles.length > 0;else nosavedarticlesfound">
      <!--article card  -->
      <li [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'"
        class="h-26 p-2 my-1 border rounded-lg hover:cursor-pointer hover:bg-zinc-50">
        <div class="flex justify-between space-x-2">
          <div class="inline-flex">
            <div class="p-3 border inline-flex rounded-full">
              <svg class="h-6 w-6 text-zinc-700" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21">
                </path>
              </svg>
            </div>
            <div class="flex-col">
              <div class="flex space-x-1 text-emerald-500"><b>Company name</b> <span
                  class="text-zinc-500">(cairo)</span>
              </div>
              <span>
                <div class="flex items-center">
                  <svg class="w-4 h-4 text-yellow-300 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 22 20">
                    <path
                      d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                  </svg>
                  <p class="ml-2 text-sm font-bold text-gray-900">4.95</p>
                  <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full :bg-gray-400"></span>
                  <a class="text-xs underline font-medium text-gray-900  hover:no-underline">73 reviews</a>
                </div>
              </span>
            </div>
          </div>
          <div class="mr-auto">
            <div
              [ngClass]="currentTheme=='dark'?'border-white/5 text-dark-secondary hover:text-gray-200 hover:bg-zinc-700/10':'hover:bg-zinc-50'"
              class="p-2 save-icon cursor-pointer rounded-full border ">
              <svg class=" w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z">
                </path>
              </svg>
            </div>
          </div>
        </div>
        <hr class="my-2">
        <div class="p-2 flex justify-between items-center">
          <h3 class="font-semibold text-xl">Full Stack developer</h3>
          <em class="text-zinc-950">12 d</em>
        </div>
      </li>
      <!--article card  -->
    </ng-container>
    <ng-template #nosavedarticlesfound>
      <div [ngClass]="currentTheme=='dark'?'text-dark-secondary':''"
        class="flex-col h-full w-full items-center justify-center align-middle content-center self-center text-center origin-center object-center ">
        <div class="text-7xl my-2 font-extrabold align-middle self-center items-center content-center">404</div>
        <span class="">no saved articles found</span>
      </div>
    </ng-template>
    </ul>
  <!-- articles  -->
  </div>
    <div [ngClass]="currentTheme == 'dark'?'border-white/10':'border-zinc-900/10'"
      class="col-span-3 border rounded-lg rounded-b-none h-full overflow-y-scroll">
          <router-outlet></router-outlet>
    </div>
  </div>
</section>