<form [formGroup]="form" (ngSubmit)="submitForm()" enctype="multipart/form-data">
  <div
    class="p-2.5 w-full h-full rounded-2xl">
  <div *ngFor="let field of fields">
      <div [ngSwitch]="field.type">
        <div *ngSwitchCase="'text'">
          <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
            [type]=field.type [label]=field.label [maxlength]=field.maxlength
      [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'file'">
        <app-input [control]="form.get(field.name)" (fileChange)="handleFileChange($event)" [id]=field.name [name]=field.name
          [maxlength]="2097152" [type]=field.type
          [label]=field.label
          [autofocus]=field.autofocus [required]=field.required></app-input>
      </div>
      <div *ngSwitchCase="'email'">
        <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'date'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'checkbox'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'number'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'tel'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'password'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'search'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'textarea'">
        <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'select'">
        <app-input [options]="field.options" [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      </div>
      </div>
</div>
<div class="p-5">
  <ng-content select="[form-extensions]"></ng-content>
</div>
<div class="flex justify-end mt-4">
  <ng-content select="[form-actions]"></ng-content>
  </div>
  </form>
