<div class="tags-input w-full ">
  <label class="block text-sm font-semibold text-gray-700" for="tags">tags*</label>
  <input (mousedown)="handleTagsChange($event)" type="search" name="tags" id="tags"
    [(ngModel)]="tag" (input)="handleTagsChange($event)" (keydown)="handleSpacebarTab($event)"
    [ngModelOptions]="{standalone: true}" class="w-full px-4 py-2  rounded-xl "
    [ngClass]="theme == 'dark'?'bg-[#888888] text-dark-white':'bg-white text-light-secondary border-2 border-gray-100'"
    autofocus>
    <p class="text-xs font-semibold text-right italic">add up to 4
      tags</p>
  <!-- Dropdown menu -->
  <div *ngIf="showTagsDropDown" id="dropdownSearch" class="absolute  z-10 border  rounded-2xl shadow max-w-md "
    [ngClass]="theme == 'dark'?'bg-dark-accent text-dark-secondary':'bg-white text-light-secondary'">
    <div class="results p-2">
      <h6 class="font-semibold">Results</h6>
      <ul class="h-44 px-3 pb-3 overflow-y-auto text-sm">
        <ng-container *ngIf="tags.length > 0;else notagsfound">
          <li *ngFor="let tag of tags">
            <div class="flex items-center pl-2 rounded "
              [ngClass]="theme == 'dark'?'hover:bg-gray-500':'hover:bg-gray-100'">
              <input (change)="handleTagSelect($event)" [name]="tag.id" [id]="tag.id" [value]="tag.id" type="checkbox"
                class="sr-only w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500  focus:ring-2">
              <!-- -->
              <label [for]="tag.id" class="w-full py-2 ml-2 text-sm font-medium rounded hover:cursor-pointer"
                [ngClass]="theme == 'dark'?' text-dark-white':'bg-white text-light-secondary'"
               >#{{tag.name}}</label>
            </div>
          </li>
        </ng-container>
        <ng-template #notagsfound>
          No tags found
        </ng-template>
      </ul>
    </div>
  </div>
</div>