<div
  class="my-6 flex gap-2.5 rounded-2xl border border-emerald-500/20 bg-emerald-50/50 p-4 leading-6 text-emerald-900 :border-emerald-500/30 :bg-emerald-500/5 :text-emerald-200 :[--tw-prose-links-hover:theme(colors.emerald.300)] :[--tw-prose-links:theme(colors.white)]">
  <svg viewBox="0 0 16 16" aria-hidden="true"
    class="mt-1 h-4 w-4 flex-none fill-emerald-500 stroke-white :fill-emerald-200/20 :stroke-emerald-200">
    <circle cx="8" cy="8" r="8" stroke-width="0"></circle>
    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.75 7.75h1.5v3.5"></path>
    <circle cx="8" cy="4" r=".5" fill="none"></circle>
  </svg>
  <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
    <p>Before you can make requests to the Protocol API, you will need to grab your
      API key from your dashboard. You find it under <a>Settings » API</a>.</p>
  </div>
</div>