<div class="flex flex-col" [ngClass]="control.invalid && showErrors() ? 'error relative ' : 'relative'">
  <ng-content selector="input-icon"></ng-content>
  <!-- input -->
  <ng-container [ngSwitch]="type">
    <div *ngSwitchCase="'text'">
      <div class="flex">
        <label *ngIf="label" [for]="name"
          class="block text-sm font-semibold " [class.text-dark-secondary]="currentTheme=='dark'" translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <input [id]="id" [name]="name" [formControl]="control" [placeholder]="placeholder" [type]="type" [value]="value"
           class="mt-1 rounded-xl  border appearance-none ring-1 ring-zinc-900/10 text-sm   p-2 text-left w-full text-white0" [class.border-[#303032]] = "currentTheme == 'dark'" [class.ring-[#303032]]="currentTheme == 'dark'"
   [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'"  [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''" [maxlength]="maxlength"
        [minlength]="minlength" [required]="required"  [pattern]="pattern"
        [autocomplete]="autocomplete" [autofocus]="autofocus" [title]="title" />
            <p *ngIf="description" [ngClass]="currentTheme=='dark'?'text-dark-secondary':''"
              class="input-description text-xs  border font-semibold text-right italic" translate>{{description}}</p>
    </div>
      <div *ngSwitchCase="'file'">
        <div class="flex">
          <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
            class="block text-sm font-semibold" translate>
            <input [id]="id" [name]="name" [placeholder]="placeholder" [type]="type"
              (change)="handleFileChange($event)" [class.border-[#303032]]="currentTheme == 'dark'" 
           [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'"   class="block w-full text-sm text-slate-500
        file:mr-4 file:py-2 file:px-4
        file:rounded-full file:border-0
        file:text-sm file:font-semibold
        file:bg-emerald-50 file:text-emerald-700
        hover:file:bg-emerald-100
      "
              [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''"  [maxlength]="maxlength"
  [minlength]="minlength" [required]="required" [autocomplete]="autocomplete" [autofocus]="autofocus" [title]="title" />
          </label>
          <span *ngIf="required">*</span>
        </div>
       
      
      </div>
    <div *ngSwitchCase="'number'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold " translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <input [id]="id" [name]="name" [formControl]="control" [placeholder]="placeholder" [type]="type" [value]="value"
         [class.border-[#303032]] = "currentTheme == 'dark'" [class.ring-[#303032]]="currentTheme == 'dark'"
        class="mt-1 rounded-xl border ring-1 appearance-none ring-zinc-900/10 text-sm  p-2 text-left w-full text-white0"
      [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'"  [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''"  [maxlength]="maxlength"
        [minlength]="minlength" [required]="required"  [pattern]="pattern"
        [autocomplete]="autocomplete" [autofocus]="autofocus" [title]="title" />
    </div>
    <div *ngSwitchCase="'tel'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold  " translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <input [id]="id" [name]="name" [formControl]="control" (keydown)="onKeyDown($event)" [placeholder]="placeholder"
         [class.border-[#303032]] = "currentTheme == 'dark'" [class.ring-[#303032]]="currentTheme == 'dark'"
     [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'"   [type]="type" [value]="value"
        class="mt-1 rounded-xl border appearance-none ring-1 ring-zinc-900/10 text-sm  p-2 text-left w-full text-white0"
        [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''"  [maxlength]="maxlength"
        [minlength]="minlength" [required]="required"  [pattern]="pattern"
        [autocomplete]="autocomplete" [autofocus]="autofocus" [title]="title" />
    </div>
    <div *ngSwitchCase="'search'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold " translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <input [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'" [id]="id" [name]="name"
         [class.border-[#303032]] = "currentTheme == 'dark'" [class.ring-[#303032]]="currentTheme == 'dark'"
        [formControl]="control" [placeholder]="placeholder" [type]="type" [value]="value"
        class="mt-1 rounded-xl border appearance-none ring-zinc-900/10 ring-1 text-sm  p-2 text-left w-full text-white0"
        [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''"  [maxlength]="maxlength"
        [minlength]="minlength" [required]="required"  [pattern]="pattern"
        [autocomplete]="autocomplete" [autofocus]="autofocus" [title]="title" />
    </div>
    <div *ngSwitchCase="'password'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold " translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <input [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'" [id]="id" [name]="name"
         [class.border-[#303032]] = "currentTheme == 'dark'"
        [formControl]="control" [placeholder]="placeholder" [type]="type" [value]="value"
        class="mt-1 rounded-xl border appearance-none ring-1 ring-zinc-900/10 text-sm  p-2 text-left w-full text-white0"
        [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''"  [maxlength]="maxlength"
        [minlength]="minlength" [required]="required"  [pattern]="pattern" [class.ring-[#303032]]="currentTheme == 'dark'"
        [autocomplete]="autocomplete" [autofocus]="autofocus" [title]="title" />
    </div>
    <div *ngSwitchCase="'checkbox'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold " translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <input [id]="id" [name]="name" [formControl]="control" [placeholder]="placeholder" [type]="type" [value]="value"
        [class.border-[#303032]]="currentTheme == 'dark'" [class.ring-[#303032]]="currentTheme == 'dark'"
       [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'"  class="mt-1 rounded-xl border appearance-none ring-1 ring-zinc-900/10 text-sm  p-2 text-left w-full"
        [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''"  [maxlength]="maxlength"
        [minlength]="minlength" [required]="required"  [pattern]="pattern"
        [autocomplete]="autocomplete" [autofocus]="autofocus" [title]="title" />
    </div>
    <div *ngSwitchCase="'date'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold " translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <input [id]="id" [name]="name" [formControl]="control" [placeholder]="placeholder" [type]="type" [value]="value"
         [class.border-[#303032]] = "currentTheme == 'dark'" [class.ring-[#303032]]="currentTheme == 'dark'"
        [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'" class="mt-1 rounded-xl border ring-1 appearance-none ring-zinc-900/10 text-sm  p-2 text-left w-full text-white0"
        [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''"  [maxlength]="maxlength"
        [minlength]="minlength" [required]="required"  [pattern]="pattern"
        [autocomplete]="autocomplete" [autofocus]="autofocus" [title]="title" />
    </div>
    <div *ngSwitchCase="'email'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold " translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <input [id]="id" [name]="name" [formControl]="control" [placeholder]="placeholder" [type]="type" [value]="value" [class.ring-[#303032]]="currentTheme == 'dark'"
     [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'"   [class.border-[#303032]] = "currentTheme == 'dark'" class="mt-1 rounded-xl border ring-1 ring-zinc-900/10 appearance-none  text-sm  p-2 text-left w-full text-white0"
        [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''"  [maxlength]="maxlength"
        [minlength]="minlength" [required]="required"  [pattern]="pattern" [autocomplete]="autocomplete"
        [autofocus]="autofocus" [title]="title" />
    </div>
    <div *ngSwitchCase="'textarea'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold " translate>{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <textarea class="mt-1 rounded-xl border appearance-none ring-1 ring-zinc-900/10 text-sm  p-2 text-left w-full text-white0"
        [class.bg-zinc-800]="currentTheme=='dark'" [class.text-white]="currentTheme=='dark'"
        [class.border-[#303032]]="currentTheme == 'dark'" [class.ring-[#303032]]="currentTheme == 'dark'"
        [ngClass]="control.invalid && showErrors() ? 'border-2 border-red-500':''" [id]="id" [name]="name" [title]="title"
        [formControl]="control" [autofocus]="autofocus" [maxlength]="maxlength" [minlength]="minlength" 
        [required]="required"  [placeholder]="placeholder"></textarea>
    </div>
    <div *ngSwitchCase="'select'">
      <div class="flex">
        <label *ngIf="label" [for]="name" [class.text-dark-secondary]="currentTheme=='dark'"
          class="block text-sm font-semibold " >{{label}}</label>
        <span *ngIf="required">*</span>
      </div>
      <select *ngSwitchCase="'select'"
     [class.bg-zinc-800]="currentTheme=='dark'"  [class.border-[#303032]] = "currentTheme == 'dark'"     class="mt-1 rounded-xl border appearance-none ring-zinc-900/10  text-sm  p-2 text-left w-full text-white0" [id]="id"
        [formControl]="control">
        <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
    </ng-container>
    <!-- validations -->
  <div
    class="absolute left-1/3 -top-1  z-10 px-3 py-0.5 text-xs font-medium border-2 border-red-500 text-red-500 rounded-3xl shadow-sm backdrop-blur-3xl tooltip"
    *ngIf="showErrors() && control.errors!['required']">
    <p class="text-xs  text-center" *ngIf="control.errors!['required']">
      this field is required
    </p>
  </div>
  <div
    class="absolute left-1/3 -top-1  z-10 px-3 py-0.5 text-xs font-medium border-2 border-red-500 text-red-500 rounded-3xl shadow-sm backdrop-blur-3xl tooltip"
    *ngIf="showErrors() && control.errors!['minlength']">
    <p class=" text-xs  text-center" *ngIf="control.errors!['minlength']">
      min length is {{control.errors!['minlength'].requiredLength}} char
    </p>
  </div>
  <div
    class="absolute left-1/3 -top-1  z-10 px-3 py-0.5 text-xs font-medium border-2 border-red-500 text-red-500 rounded-3xl shadow-sm backdrop-blur-3xl tooltip"
    *ngIf="showErrors() && control.errors!['maxlength']">
    <p class="text-xs  text-center" *ngIf="control.errors!['maxlength']">
      max length is {{control.errors!['maxlength'].requiredLength}} char
    </p>
  </div>
  <div
    class="absolute left-1/3 -top-1  z-10 px-3 py-0.5 text-xs font-medium border-2 border-red-500 text-red-500 rounded-3xl shadow-sm backdrop-blur-3xl tooltip"
    *ngIf="showErrors()&&control.errors!['pattern']">
    <p class=" text-xs  text-center" *ngIf="control.errors!['pattern']">
      incorrect input form
    </p>
  </div>
  <div
    class="absolute left-1/3 -top-1  z-10 px-3 py-0.5 text-xs font-medium border-2 border-red-500 text-red-500 rounded-3xl shadow-sm backdrop-blur-3xl tooltip"
    *ngIf="showErrors()&&control.errors!['notEmailUnique']">
    <p class=" text-xs  text-center" *ngIf="control.errors!['notEmailUnique']">
      this mail is already inuse!
    </p>
  </div>
  <div
    class="absolute left-1/3 -top-1  z-10 px-3 py-0.5 text-xs font-medium border-2 border-red-500 text-red-500 rounded-3xl shadow-sm backdrop-blur-3xl tooltip"
    *ngIf="showErrors()&&control.errors!['zeroOrNegative']">
    <p class=" text-xs  text-center" *ngIf="control.errors!['zeroOrNegative']">
      this input doesn't accept zero or negative value
    </p>
  </div>
</div>