<div [ngClass]="currentTheme == 'dark'?'bg-[#18181b] border-white/10':'bg-white border-gray-200'"
  class="p-4 mb-4 border  rounded-lg shadow-sm 2xl:col-span-2  sm:p-6 ">
  <div class="items-center  sm:flex xl:block 2xl:flex sm:space-x-4 xl:space-x-0 2xl:space-x-4">
    <img class="mb-4 rounded-lg w-28 h-28 sm:mb-0 xl:mb-4 2xl:mb-0" [src]="currentUser?.user_img"
      [alt]="currentUser?.username">
    <div>
      <h3 class="mb-1 text-xl font-bold text-gray-900 :text-white">Profile picture</h3>
      <div class="mb-4 text-sm text-gray-500 :text-gray-400">
        JPG, GIF or PNG. Max size of 800K
      </div>
      <div class="flex items-center space-x-4">
      <app-form [fields]="[
                                                { name: 'file_img', label: 'file_img', id:'file_img', type: 'file', required:false },
                                              ]" [enctype]="'multipart/form-data'"
        (submitted)="onProfileFormSubmitted($event)" (formStatus)="checkProfileFormStatus($event)">
      </app-form>
        <button type="button"
          class="py-2 px-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-3xl border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 :focus:ring-gray-700 :bg-gray-800 :text-gray-400 :border-gray-600 :hover:text-white :hover:bg-gray-700">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>