<div class="w-full">
  <div class="h-full lg:ml-72 xl:ml-80">
    <app-header></app-header>
    <div class="relative flex h-full flex-col px-4 pt-14 sm:px-6 lg:px-8">
      <main class="flex-auto">
        <article class="flex h-full flex-col pb-10 pt-16">
          <div class="flex-auto prose :prose-invert">
            <app-prose></app-prose>
            <h1>Quickstart</h1>
            <p class="lead">This guide will get you all set up and ready to use the Protocol API. We'll cover how to get
              started using one of our API clients and how to make your first API request. We'll also look at where to
              go next to find all the information you need to take full advantage of our powerful REST API.</p>
            <app-alert></app-alert>
            <h2 id="choose-your-client" class="scroll-mt-24"><a
                class="group text-inherit no-underline hover:text-inherit" href="#choose-your-client">
                <div
                  class="absolute ml-[calc(-1*var(--width))] mt-1 hidden w-[var(--width)] opacity-0 transition [--width:calc(2.625rem+0.5px+50%-min(50%,calc(theme(maxWidth.lg)+theme(spacing.8))))] group-hover:opacity-100 group-focus:opacity-100 md:block lg:z-50 2xl:[--width:theme(spacing.10)]">
                  <div
                    class="group/anchor block h-5 w-5 rounded-lg bg-zinc-50 ring-1 ring-inset ring-zinc-300 transition hover:ring-zinc-500 :bg-zinc-800 :ring-zinc-700 :hover:bg-zinc-700 :hover:ring-zinc-600">
                    <svg viewBox="0 0 20 20" fill="none" stroke-linecap="round" aria-hidden="true"
                      class="h-5 w-5 stroke-zinc-500 transition :stroke-zinc-400 :group-hover/anchor:stroke-white">
                      <path
                        d="m6.5 11.5-.964-.964a3.535 3.535 0 1 1 5-5l.964.964m2 2 .964.964a3.536 3.536 0 0 1-5 5L8.5 13.5m0-5 3 3">
                      </path>
                    </svg></div>
                </div>Choose your client
              </a></h2>
            <p>Before making your first API request, you need to pick which API client you will use. In addition to good
              ol' cURL HTTP requests, Protocol offers clients for JavaScript, Python, and PHP. In the following example,
              you can see how to install each client.</p>
            <div
              class="not-prose my-6 overflow-hidden rounded-2xl bg-zinc-900 shadow-md :ring-1 :ring-white/10">
              <div
                class="flex min-h-[calc(theme(spacing.12)+1px)] flex-wrap items-start gap-x-4 border-b border-zinc-700 bg-zinc-800 px-4 :border-zinc-800 :bg-transparent">
                <div class="-mb-px flex gap-4 text-xs font-medium" role="tablist" aria-orientation="horizontal"><button
                    class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
                    id="headlessui-tabs-tab-:r8u:" role="tab" type="button" aria-selected="false" tabindex="-1"
                    data-headlessui-state="" aria-controls="headlessui-tabs-panel-:r92:">cURL</button><button
                    class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
                    id="headlessui-tabs-tab-:r8v:" role="tab" type="button" aria-selected="false" tabindex="-1"
                    data-headlessui-state="" aria-controls="headlessui-tabs-panel-:r93:">JavaScript</button><button
                    class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
                    id="headlessui-tabs-tab-:r90:" role="tab" type="button" aria-selected="false" tabindex="-1"
                    data-headlessui-state="" aria-controls="headlessui-tabs-panel-:r94:">Python</button><button
                    class="border-b py-3 transition ui-not-focus-visible:outline-none border-emerald-500 text-emerald-400"
                    id="headlessui-tabs-tab-:r91:" role="tab" type="button" aria-selected="true" tabindex="0"
                    data-headlessui-state="selected" aria-controls="headlessui-tabs-panel-:r95:">PHP</button></div>
              </div>
              <div><span id="headlessui-tabs-panel-:r92:" role="tabpanel" tabindex="-1"
                  aria-labelledby="headlessui-tabs-tab-:r8u:"
                  style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span><span
                  id="headlessui-tabs-panel-:r93:" role="tabpanel" tabindex="-1"
                  aria-labelledby="headlessui-tabs-tab-:r8v:"
                  style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span><span
                  id="headlessui-tabs-panel-:r94:" role="tabpanel" tabindex="-1"
                  aria-labelledby="headlessui-tabs-tab-:r90:"
                  style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span>
                <div id="headlessui-tabs-panel-:r95:" role="tabpanel" tabindex="0" data-headlessui-state="selected"
                  aria-labelledby="headlessui-tabs-tab-:r91:">
                  <div class="group :bg-white/2.5">
                    <div class="relative">
                      <pre class="overflow-x-auto p-4 text-xs text-white"><code class="language-bash"><span><span style="color: var(--shiki-token-comment)"># Install the Protocol PHP SDK</span></span>
<span><span style="color: var(--shiki-color-text)">composer require protocol/sdk</span></span>
<span></span></code></pre><button type="button"
                        class="group/button absolute right-4 top-3.5 overflow-hidden rounded-full py-1 pl-2 pr-3 text-2xs font-medium opacity-0 backdrop-blur transition focus:opacity-100 group-hover:opacity-100 bg-white/5 hover:bg-white/7.5 :bg-white/2.5 :hover:bg-white/5"><span
                          aria-hidden="false"
                          class="pointer-events-none flex items-center gap-0.5 text-zinc-400 transition duration-300"><svg
                            viewBox="0 0 20 20" aria-hidden="true"
                            class="h-5 w-5 fill-zinc-500/20 stroke-zinc-500 transition-colors group-hover/button:stroke-zinc-400">
                            <path stroke-width="0"
                              d="M5.5 13.5v-5a2 2 0 0 1 2-2l.447-.894A2 2 0 0 1 9.737 4.5h.527a2 2 0 0 1 1.789 1.106l.447.894a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2Z">
                            </path>
                            <path fill="none" stroke-linejoin="round"
                              d="M12.5 6.5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2m5 0-.447-.894a2 2 0 0 0-1.79-1.106h-.527a2 2 0 0 0-1.789 1.106L7.5 6.5m5 0-1 1h-3l-1-1">
                            </path>
                          </svg>Copy</span><span aria-hidden="true"
                          class="pointer-events-none absolute inset-0 flex items-center justify-center text-emerald-400 transition duration-300 translate-y-1.5 opacity-0">Copied!</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="not-prose"><a
                class="inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition text-emerald-500 hover:text-emerald-600 :text-emerald-400 :hover:text-emerald-500"
                href="/sdks">Check out our list of first-party SDKs<svg viewBox="0 0 20 20" fill="none"
                  aria-hidden="true" class="mt-0.5 h-5 w-5 relative top-px -mr-1">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    d="m11.5 6.5 3 3.5m0 0-3 3.5m3-3.5h-9"></path>
                </svg></a></div>
            <h2 id="making-your-first-api-request" class="scroll-mt-24"><a
                class="group text-inherit no-underline hover:text-inherit" href="#making-your-first-api-request">
                <div
                  class="absolute ml-[calc(-1*var(--width))] mt-1 hidden w-[var(--width)] opacity-0 transition [--width:calc(2.625rem+0.5px+50%-min(50%,calc(theme(maxWidth.lg)+theme(spacing.8))))] group-hover:opacity-100 group-focus:opacity-100 md:block lg:z-50 2xl:[--width:theme(spacing.10)]">
                  <div
                    class="group/anchor block h-5 w-5 rounded-lg bg-zinc-50 ring-1 ring-inset ring-zinc-300 transition hover:ring-zinc-500 :bg-zinc-800 :ring-zinc-700 :hover:bg-zinc-700 :hover:ring-zinc-600">
                    <svg viewBox="0 0 20 20" fill="none" stroke-linecap="round" aria-hidden="true"
                      class="h-5 w-5 stroke-zinc-500 transition :stroke-zinc-400 :group-hover/anchor:stroke-white">
                      <path
                        d="m6.5 11.5-.964-.964a3.535 3.535 0 1 1 5-5l.964.964m2 2 .964.964a3.536 3.536 0 0 1-5 5L8.5 13.5m0-5 3 3">
                      </path>
                    </svg></div>
                </div>Making your first API request
              </a></h2>
            <p>After picking your preferred client, you are ready to make your first call to the Protocol API. Below,
              you can see how to send a GET request to the Conversations endpoint to get a list of all your
              conversations. In the cURL example, results are limited to ten conversations, the default page length for
              each client.</p>
            <div
              class="not-prose my-6 overflow-hidden rounded-2xl bg-zinc-900 shadow-md :ring-1 :ring-white/10">
              <div
                class="flex min-h-[calc(theme(spacing.12)+1px)] flex-wrap items-start gap-x-4 border-b border-zinc-700 bg-zinc-800 px-4 :border-zinc-800 :bg-transparent">
                <div class="-mb-px flex gap-4 text-xs font-medium" role="tablist" aria-orientation="horizontal"><button
                    class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
                    id="headlessui-tabs-tab-:r96:" role="tab" type="button" aria-selected="false" tabindex="-1"
                    data-headlessui-state="" aria-controls="headlessui-tabs-panel-:r9a:">cURL</button><button
                    class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
                    id="headlessui-tabs-tab-:r97:" role="tab" type="button" aria-selected="false" tabindex="-1"
                    data-headlessui-state="" aria-controls="headlessui-tabs-panel-:r9b:">JavaScript</button><button
                    class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
                    id="headlessui-tabs-tab-:r98:" role="tab" type="button" aria-selected="false" tabindex="-1"
                    data-headlessui-state="" aria-controls="headlessui-tabs-panel-:r9c:">Python</button><button
                    class="border-b py-3 transition ui-not-focus-visible:outline-none border-emerald-500 text-emerald-400"
                    id="headlessui-tabs-tab-:r99:" role="tab" type="button" aria-selected="true" tabindex="0"
                    data-headlessui-state="selected" aria-controls="headlessui-tabs-panel-:r9d:">PHP</button></div>
              </div>
              <div><span id="headlessui-tabs-panel-:r9a:" role="tabpanel" tabindex="-1"
                  aria-labelledby="headlessui-tabs-tab-:r96:"
                  style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span><span
                  id="headlessui-tabs-panel-:r9b:" role="tabpanel" tabindex="-1"
                  aria-labelledby="headlessui-tabs-tab-:r97:"
                  style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span><span
                  id="headlessui-tabs-panel-:r9c:" role="tabpanel" tabindex="-1"
                  aria-labelledby="headlessui-tabs-tab-:r98:"
                  style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span>
                <div id="headlessui-tabs-panel-:r9d:" role="tabpanel" tabindex="0" data-headlessui-state="selected"
                  aria-labelledby="headlessui-tabs-tab-:r99:">
                  <div class="group :bg-white/2.5">
                    <div
                      class="flex h-9 items-center gap-2 border-y border-b-white/7.5 border-t-transparent bg-white/2.5 bg-zinc-900 px-4 :border-b-white/5 :bg-white/1">
                      <div class=" flex"><span
                          class="font-mono text-[0.625rem] font-semibold leading-6 text-emerald-500 :text-emerald-400">GET</span>
                      </div><span class="h-0.5 w-0.5 rounded-full bg-zinc-500"></span><span
                        class="font-mono text-xs text-zinc-400">/v1/conversations</span>
                    </div>
                    <div class="relative">
                      <pre class="overflow-x-auto p-4 text-xs text-white"><code class="language-php"><span><span style="color: var(--shiki-color-text)">$client </span><span style="color: var(--shiki-token-keyword)">=</span><span style="color: var(--shiki-color-text)"> </span><span style="color: var(--shiki-token-keyword)">new</span><span style="color: var(--shiki-color-text)"> </span><span style="color: var(--shiki-token-punctuation)">\</span><span style="color: var(--shiki-token-constant)">Protocol</span><span style="color: var(--shiki-token-punctuation)">\</span><span style="color: var(--shiki-token-constant)">ApiClient</span><span style="color: var(--shiki-color-text)">($token);</span></span>
<span></span>
<span><span style="color: var(--shiki-color-text)">$client</span><span style="color: var(--shiki-token-keyword)">-&gt;</span><span style="color: var(--shiki-color-text)">conversations</span><span style="color: var(--shiki-token-keyword)">-&gt;</span><span style="color: var(--shiki-token-function)">list</span><span style="color: var(--shiki-token-punctuation)">()</span><span style="color: var(--shiki-color-text)">;</span></span>
<span></span></code></pre><button type="button"
                        class="group/button absolute right-4 top-3.5 overflow-hidden rounded-full py-1 pl-2 pr-3 text-2xs font-medium opacity-0 backdrop-blur transition focus:opacity-100 group-hover:opacity-100 bg-white/5 hover:bg-white/7.5 :bg-white/2.5 :hover:bg-white/5"><span
                          aria-hidden="false"
                          class="pointer-events-none flex items-center gap-0.5 text-zinc-400 transition duration-300"><svg
                            viewBox="0 0 20 20" aria-hidden="true"
                            class="h-5 w-5 fill-zinc-500/20 stroke-zinc-500 transition-colors group-hover/button:stroke-zinc-400">
                            <path stroke-width="0"
                              d="M5.5 13.5v-5a2 2 0 0 1 2-2l.447-.894A2 2 0 0 1 9.737 4.5h.527a2 2 0 0 1 1.789 1.106l.447.894a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2Z">
                            </path>
                            <path fill="none" stroke-linejoin="round"
                              d="M12.5 6.5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2m5 0-.447-.894a2 2 0 0 0-1.79-1.106h-.527a2 2 0 0 0-1.789 1.106L7.5 6.5m5 0-1 1h-3l-1-1">
                            </path>
                          </svg>Copy</span><span aria-hidden="true"
                          class="pointer-events-none absolute inset-0 flex items-center justify-center text-emerald-400 transition duration-300 translate-y-1.5 opacity-0">Copied!</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="not-prose"><a
                class="inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition text-emerald-500 hover:text-emerald-600 :text-emerald-400 :hover:text-emerald-500"
                href="/conversations">Read the docs for the Conversations endpoint<svg viewBox="0 0 20 20" fill="none"
                  aria-hidden="true" class="mt-0.5 h-5 w-5 relative top-px -mr-1">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    d="m11.5 6.5 3 3.5m0 0-3 3.5m3-3.5h-9"></path>
                </svg></a></div>
            <h2 id="whats-next" class="scroll-mt-24"><a class="group text-inherit no-underline hover:text-inherit"
                href="#whats-next">What's next?</a></h2>
            <p>Great, you're now set up with an API client and have made your first request to the API. Here are a few
              links that might be handy as you venture further into the Protocol API:</p>
            <ul>
              <li><a>Grab your API key from the Protocol dashboard</a></li>
              <li><a href="/conversations">Check out the Conversations endpoint</a></li>
              <li><a href="/errors">Learn about the different error messages in Protocol</a></li>
            </ul>
            <div _ngcontent-hxp-c18="" class="my-16 xl:max-w-none">
              <h2 _ngcontent-hxp-c18="" id="resources" class="scroll-mt-24"><a _ngcontent-hxp-c18="" href="#resources"
                  class="group text-inherit no-underline hover:text-inherit">Resources</a></h2>
              <div _ngcontent-hxp-c18=""
                class="not-prose mt-4 grid grid-cols-1 gap-8 border-t border-zinc-900/5 pt-10 :border-white/5 sm:grid-cols-2 xl:grid-cols-4">
                <div _ngcontent-hxp-c18=""
                  class="group relative flex rounded-2xl bg-zinc-50 transition-shadow hover:shadow-md hover:shadow-zinc-900/5 :bg-white/2.5 :hover:shadow-black/5">
                  <div _ngcontent-hxp-c18="" class="pointer-events-none">
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl transition duration-300 [mask-image:linear-gradient(white,transparent)] group-hover:opacity-50">
                      <svg _ngcontent-hxp-c18="" aria-hidden="true"
                        class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/[0.02] stroke-black/5 :fill-white/1 :stroke-white/2.5">
                        <defs _ngcontent-hxp-c18="">
                          <pattern _ngcontent-hxp-c18="" id=":rb:" width="72" height="56" patternUnits="userSpaceOnUse" x="50%"
                            y="16">
                            <path _ngcontent-hxp-c18="" d="M.5 56V.5H72" fill="none"></path>
                          </pattern>
                        </defs>
                        <rect _ngcontent-hxp-c18="" width="100%" height="100%" stroke-width="0" fill="url(#:rb:)"></rect><svg
                          _ngcontent-hxp-c18="" x="50%" y="16" class="overflow-visible">
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="0" y="56"></rect>
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="72" y="168"></rect>
                        </svg>
                      </svg>
                    </div>
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl bg-gradient-to-r from-[#D7EDEA] to-[#F4FBDF] opacity-0 transition duration-300 group-hover:opacity-100 :from-[#202D2E] :to-[#303428]"
                      style="-webkit-mask-image: radial-gradient(180px at 203px 2px, white, transparent);"></div>
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl opacity-0 mix-blend-overlay transition duration-300 group-hover:opacity-100"
                      style="-webkit-mask-image: radial-gradient(180px at 203px 2px, white, transparent);"><svg
                        _ngcontent-hxp-c18="" aria-hidden="true"
                        class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/50 stroke-black/70 :fill-white/2.5 :stroke-white/10">
                        <defs _ngcontent-hxp-c18="">
                          <pattern _ngcontent-hxp-c18="" id=":rc:" width="72" height="56" patternUnits="userSpaceOnUse" x="50%"
                            y="16">
                            <path _ngcontent-hxp-c18="" d="M.5 56V.5H72" fill="none"></path>
                          </pattern>
                        </defs>
                        <rect _ngcontent-hxp-c18="" width="100%" height="100%" stroke-width="0" fill="url(#:rc:)"></rect><svg
                          _ngcontent-hxp-c18="" x="50%" y="16" class="overflow-visible">
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="0" y="56"></rect>
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="72" y="168"></rect>
                        </svg>
                      </svg></div>
                  </div>
                  <div _ngcontent-hxp-c18=""
                    class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-zinc-900/7.5 group-hover:ring-zinc-900/10 :ring-white/10 :group-hover:ring-white/20">
                  </div>
                  <div _ngcontent-hxp-c18="" class="relative rounded-2xl px-4 pb-4 pt-16">
                    <div _ngcontent-hxp-c18=""
                      class="flex h-7 w-7 items-center justify-center rounded-full bg-zinc-900/5 ring-1 ring-zinc-900/25 backdrop-blur-[2px] transition duration-300 group-hover:bg-white/50 group-hover:ring-zinc-900/25 :bg-white/7.5 :ring-white/15 :group-hover:bg-emerald-300/10 :group-hover:ring-emerald-400">
                      <svg _ngcontent-hxp-c18="" viewBox="0 0 20 20" aria-hidden="true"
                        class="h-5 w-5 fill-zinc-700/10 stroke-zinc-700 transition-colors duration-300 group-hover:stroke-zinc-900 :fill-white/10 :stroke-zinc-400 :group-hover:fill-emerald-300/10 :group-hover:stroke-emerald-400">
                        <path _ngcontent-hxp-c18="" stroke-width="0" fill-rule="evenodd" clip-rule="evenodd"
                          d="M10 .5a9.5 9.5 0 0 1 5.598 17.177C14.466 15.177 12.383 13.5 10 13.5s-4.466 1.677-5.598 4.177A9.5 9.5 0 0 1 10 .5ZM12.5 8a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
                        </path>
                        <path _ngcontent-hxp-c18="" fill="none" stroke-linecap="round" stroke-linejoin="round"
                          d="M10 .5a9.5 9.5 0 0 1 5.598 17.177A9.458 9.458 0 0 1 10 19.5a9.458 9.458 0 0 1-5.598-1.823A9.5 9.5 0 0 1 10 .5Z">
                        </path>
                        <path _ngcontent-hxp-c18="" fill="none" stroke-linecap="round" stroke-linejoin="round"
                          d="M4.402 17.677C5.534 15.177 7.617 13.5 10 13.5s4.466 1.677 5.598 4.177M10 5.5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z">
                        </path>
                      </svg>
                    </div>
                    <h3 _ngcontent-hxp-c18="" class="mt-4 text-sm font-semibold leading-7 text-zinc-900 :text-white"><a
                        _ngcontent-hxp-c18="" href="/contacts"><span _ngcontent-hxp-c18=""
                          class="absolute inset-0 rounded-2xl"></span>Contacts</a></h3>
                    <p _ngcontent-hxp-c18="" class="mt-1 text-sm text-zinc-600 :text-zinc-400">Learn about the contact model and how
                      to create, retrieve, update, delete, and list contacts.</p>
                  </div>
                </div>
                <div _ngcontent-hxp-c18=""
                  class="group relative flex rounded-2xl bg-zinc-50 transition-shadow hover:shadow-md hover:shadow-zinc-900/5 :bg-white/2.5 :hover:shadow-black/5">
                  <div _ngcontent-hxp-c18="" class="pointer-events-none">
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl transition duration-300 [mask-image:linear-gradient(white,transparent)] group-hover:opacity-50">
                      <svg _ngcontent-hxp-c18="" aria-hidden="true"
                        class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/[0.02] stroke-black/5 :fill-white/1 :stroke-white/2.5">
                        <defs _ngcontent-hxp-c18="">
                          <pattern _ngcontent-hxp-c18="" id=":rd:" width="72" height="56" patternUnits="userSpaceOnUse" x="50%"
                            y="-6">
                            <path _ngcontent-hxp-c18="" d="M.5 56V.5H72" fill="none"></path>
                          </pattern>
                        </defs>
                        <rect _ngcontent-hxp-c18="" width="100%" height="100%" stroke-width="0" fill="url(#:rd:)"></rect><svg
                          _ngcontent-hxp-c18="" x="50%" y="-6" class="overflow-visible">
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="-72" y="112"></rect>
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="72" y="168"></rect>
                        </svg>
                      </svg>
                    </div>
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl bg-gradient-to-r from-[#D7EDEA] to-[#F4FBDF] opacity-0 transition duration-300 group-hover:opacity-100 :from-[#202D2E] :to-[#303428]"
                      style="-webkit-mask-image: radial-gradient(180px at 1px 184px, white, transparent);"></div>
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl opacity-0 mix-blend-overlay transition duration-300 group-hover:opacity-100"
                      style="-webkit-mask-image: radial-gradient(180px at 1px 184px, white, transparent);"><svg
                        _ngcontent-hxp-c18="" aria-hidden="true"
                        class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/50 stroke-black/70 :fill-white/2.5 :stroke-white/10">
                        <defs _ngcontent-hxp-c18="">
                          <pattern _ngcontent-hxp-c18="" id=":re:" width="72" height="56" patternUnits="userSpaceOnUse" x="50%"
                            y="-6">
                            <path _ngcontent-hxp-c18="" d="M.5 56V.5H72" fill="none"></path>
                          </pattern>
                        </defs>
                        <rect _ngcontent-hxp-c18="" width="100%" height="100%" stroke-width="0" fill="url(#:re:)"></rect><svg
                          _ngcontent-hxp-c18="" x="50%" y="-6" class="overflow-visible">
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="-72" y="112"></rect>
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="72" y="168"></rect>
                        </svg>
                      </svg></div>
                  </div>
                  <div _ngcontent-hxp-c18=""
                    class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-zinc-900/7.5 group-hover:ring-zinc-900/10 :ring-white/10 :group-hover:ring-white/20">
                  </div>
                  <div _ngcontent-hxp-c18="" class="relative rounded-2xl px-4 pb-4 pt-16">
                    <div _ngcontent-hxp-c18=""
                      class="flex h-7 w-7 items-center justify-center rounded-full bg-zinc-900/5 ring-1 ring-zinc-900/25 backdrop-blur-[2px] transition duration-300 group-hover:bg-white/50 group-hover:ring-zinc-900/25 :bg-white/7.5 :ring-white/15 :group-hover:bg-emerald-300/10 :group-hover:ring-emerald-400">
                      <svg _ngcontent-hxp-c18="" viewBox="0 0 20 20" aria-hidden="true"
                        class="h-5 w-5 fill-zinc-700/10 stroke-zinc-700 transition-colors duration-300 group-hover:stroke-zinc-900 :fill-white/10 :stroke-zinc-400 :group-hover:fill-emerald-300/10 :group-hover:stroke-emerald-400">
                        <path _ngcontent-hxp-c18="" stroke-linecap="round" stroke-linejoin="round"
                          d="M10 16.5c4.142 0 7.5-3.134 7.5-7s-3.358-7-7.5-7c-4.142 0-7.5 3.134-7.5 7 0 1.941.846 3.698 2.214 4.966L3.5 17.5c2.231 0 3.633-.553 4.513-1.248A8.014 8.014 0 0 0 10 16.5Z">
                        </path>
                        <path _ngcontent-hxp-c18="" fill="none" stroke-linecap="round" stroke-linejoin="round"
                          d="M7.5 8.5h5M8.5 11.5h3"></path>
                      </svg>
                    </div>
                    <h3 _ngcontent-hxp-c18="" class="mt-4 text-sm font-semibold leading-7 text-zinc-900 :text-white"><a
                        _ngcontent-hxp-c18="" href="/conversations"><span _ngcontent-hxp-c18=""
                          class="absolute inset-0 rounded-2xl"></span>Conversations</a></h3>
                    <p _ngcontent-hxp-c18="" class="mt-1 text-sm text-zinc-600 :text-zinc-400">Learn about the conversation model
                      and how to create, retrieve, update, delete, and list conversations.</p>
                  </div>
                </div>
                <div _ngcontent-hxp-c18=""
                  class="group relative flex rounded-2xl bg-zinc-50 transition-shadow hover:shadow-md hover:shadow-zinc-900/5 :bg-white/2.5 :hover:shadow-black/5">
                  <div _ngcontent-hxp-c18="" class="pointer-events-none">
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl transition duration-300 [mask-image:linear-gradient(white,transparent)] group-hover:opacity-50">
                      <svg _ngcontent-hxp-c18="" aria-hidden="true"
                        class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/[0.02] stroke-black/5 :fill-white/1 :stroke-white/2.5">
                        <defs _ngcontent-hxp-c18="">
                          <pattern _ngcontent-hxp-c18="" id=":rf:" width="72" height="56" patternUnits="userSpaceOnUse" x="50%"
                            y="32">
                            <path _ngcontent-hxp-c18="" d="M.5 56V.5H72" fill="none"></path>
                          </pattern>
                        </defs>
                        <rect _ngcontent-hxp-c18="" width="100%" height="100%" stroke-width="0" fill="url(#:rf:)"></rect><svg
                          _ngcontent-hxp-c18="" x="50%" y="32" class="overflow-visible">
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="0" y="112"></rect>
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="72" y="224"></rect>
                        </svg>
                      </svg>
                    </div>
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl bg-gradient-to-r from-[#D7EDEA] to-[#F4FBDF] opacity-0 transition duration-300 group-hover:opacity-100 :from-[#202D2E] :to-[#303428]"
                      style="-webkit-mask-image: radial-gradient(180px at 322px 179px, white, transparent);"></div>
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl opacity-0 mix-blend-overlay transition duration-300 group-hover:opacity-100"
                      style="-webkit-mask-image: radial-gradient(180px at 322px 179px, white, transparent);"><svg
                        _ngcontent-hxp-c18="" aria-hidden="true"
                        class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/50 stroke-black/70 :fill-white/2.5 :stroke-white/10">
                        <defs _ngcontent-hxp-c18="">
                          <pattern _ngcontent-hxp-c18="" id=":rg:" width="72" height="56" patternUnits="userSpaceOnUse" x="50%"
                            y="32">
                            <path _ngcontent-hxp-c18="" d="M.5 56V.5H72" fill="none"></path>
                          </pattern>
                        </defs>
                        <rect _ngcontent-hxp-c18="" width="100%" height="100%" stroke-width="0" fill="url(#:rg:)"></rect><svg
                          _ngcontent-hxp-c18="" x="50%" y="32" class="overflow-visible">
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="0" y="112"></rect>
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="72" y="224"></rect>
                        </svg>
                      </svg></div>
                  </div>
                  <div _ngcontent-hxp-c18=""
                    class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-zinc-900/7.5 group-hover:ring-zinc-900/10 :ring-white/10 :group-hover:ring-white/20">
                  </div>
                  <div _ngcontent-hxp-c18="" class="relative rounded-2xl px-4 pb-4 pt-16">
                    <div _ngcontent-hxp-c18=""
                      class="flex h-7 w-7 items-center justify-center rounded-full bg-zinc-900/5 ring-1 ring-zinc-900/25 backdrop-blur-[2px] transition duration-300 group-hover:bg-white/50 group-hover:ring-zinc-900/25 :bg-white/7.5 :ring-white/15 :group-hover:bg-emerald-300/10 :group-hover:ring-emerald-400">
                      <svg _ngcontent-hxp-c18="" viewBox="0 0 20 20" aria-hidden="true"
                        class="h-5 w-5 fill-zinc-700/10 stroke-zinc-700 transition-colors duration-300 group-hover:stroke-zinc-900 :fill-white/10 :stroke-zinc-400 :group-hover:fill-emerald-300/10 :group-hover:stroke-emerald-400">
                        <path _ngcontent-hxp-c18="" fill="none" stroke-linecap="round" stroke-linejoin="round"
                          d="M2.5 5.5a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v8a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-8Z"></path>
                        <path _ngcontent-hxp-c18="" stroke-linecap="round" stroke-linejoin="round"
                          d="M10 10 4.526 5.256c-.7-.607-.271-1.756.655-1.756h9.638c.926 0 1.355 1.15.655 1.756L10 10Z"></path>
                      </svg>
                    </div>
                    <h3 _ngcontent-hxp-c18="" class="mt-4 text-sm font-semibold leading-7 text-zinc-900 :text-white"><a
                        _ngcontent-hxp-c18="" href="/messages"><span _ngcontent-hxp-c18=""
                          class="absolute inset-0 rounded-2xl"></span>Messages</a></h3>
                    <p _ngcontent-hxp-c18="" class="mt-1 text-sm text-zinc-600 :text-zinc-400">Learn about the message model and how
                      to create, retrieve, update, delete, and list messages.</p>
                  </div>
                </div>
                <div _ngcontent-hxp-c18=""
                  class="group relative flex rounded-2xl bg-zinc-50 transition-shadow hover:shadow-md hover:shadow-zinc-900/5 :bg-white/2.5 :hover:shadow-black/5">
                  <div _ngcontent-hxp-c18="" class="pointer-events-none">
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl transition duration-300 [mask-image:linear-gradient(white,transparent)] group-hover:opacity-50">
                      <svg _ngcontent-hxp-c18="" aria-hidden="true"
                        class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/[0.02] stroke-black/5 :fill-white/1 :stroke-white/2.5">
                        <defs _ngcontent-hxp-c18="">
                          <pattern _ngcontent-hxp-c18="" id=":rh:" width="72" height="56" patternUnits="userSpaceOnUse" x="50%"
                            y="22">
                            <path _ngcontent-hxp-c18="" d="M.5 56V.5H72" fill="none"></path>
                          </pattern>
                        </defs>
                        <rect _ngcontent-hxp-c18="" width="100%" height="100%" stroke-width="0" fill="url(#:rh:)"></rect><svg
                          _ngcontent-hxp-c18="" x="50%" y="22" class="overflow-visible">
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="0" y="56"></rect>
                        </svg>
                      </svg>
                    </div>
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl bg-gradient-to-r from-[#D7EDEA] to-[#F4FBDF] opacity-0 transition duration-300 group-hover:opacity-100 :from-[#202D2E] :to-[#303428]"
                      style="-webkit-mask-image: radial-gradient(180px at 50px 13px, white, transparent);"></div>
                    <div _ngcontent-hxp-c18=""
                      class="absolute inset-0 rounded-2xl opacity-0 mix-blend-overlay transition duration-300 group-hover:opacity-100"
                      style="-webkit-mask-image: radial-gradient(180px at 50px 13px, white, transparent);"><svg
                        _ngcontent-hxp-c18="" aria-hidden="true"
                        class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/50 stroke-black/70 :fill-white/2.5 :stroke-white/10">
                        <defs _ngcontent-hxp-c18="">
                          <pattern _ngcontent-hxp-c18="" id=":ri:" width="72" height="56" patternUnits="userSpaceOnUse" x="50%"
                            y="22">
                            <path _ngcontent-hxp-c18="" d="M.5 56V.5H72" fill="none"></path>
                          </pattern>
                        </defs>
                        <rect _ngcontent-hxp-c18="" width="100%" height="100%" stroke-width="0" fill="url(#:ri:)"></rect><svg
                          _ngcontent-hxp-c18="" x="50%" y="22" class="overflow-visible">
                          <rect _ngcontent-hxp-c18="" stroke-width="0" width="73" height="57" x="0" y="56"></rect>
                        </svg>
                      </svg></div>
                  </div>
                  <div _ngcontent-hxp-c18=""
                    class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-zinc-900/7.5 group-hover:ring-zinc-900/10 :ring-white/10 :group-hover:ring-white/20">
                  </div>
                  <div _ngcontent-hxp-c18="" class="relative rounded-2xl px-4 pb-4 pt-16">
                    <div _ngcontent-hxp-c18=""
                      class="flex h-7 w-7 items-center justify-center rounded-full bg-zinc-900/5 ring-1 ring-zinc-900/25 backdrop-blur-[2px] transition duration-300 group-hover:bg-white/50 group-hover:ring-zinc-900/25 :bg-white/7.5 :ring-white/15 :group-hover:bg-emerald-300/10 :group-hover:ring-emerald-400">
                      <svg _ngcontent-hxp-c18="" viewBox="0 0 20 20" aria-hidden="true"
                        class="h-5 w-5 fill-zinc-700/10 stroke-zinc-700 transition-colors duration-300 group-hover:stroke-zinc-900 :fill-white/10 :stroke-zinc-400 :group-hover:fill-emerald-300/10 :group-hover:stroke-emerald-400">
                        <path _ngcontent-hxp-c18="" fill="none" stroke-linecap="round" stroke-linejoin="round"
                          d="M10.046 16H1.955a.458.458 0 0 1-.455-.459C1.5 13.056 3.515 11 6 11h.5"></path>
                        <path _ngcontent-hxp-c18="" stroke-linecap="round" stroke-linejoin="round"
                          d="M7.5 15.454C7.5 12.442 9.988 10 13 10s5.5 2.442 5.5 5.454a.545.545 0 0 1-.546.546H8.045a.545.545 0 0 1-.545-.546Z">
                        </path>
                        <path _ngcontent-hxp-c18="" fill="none" stroke-linecap="round" stroke-linejoin="round"
                          d="M6.5 4a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"></path>
                        <path _ngcontent-hxp-c18="" stroke-linecap="round" stroke-linejoin="round"
                          d="M13 2a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z"></path>
                      </svg>
                    </div>
                    <h3 _ngcontent-hxp-c18="" class="mt-4 text-sm font-semibold leading-7 text-zinc-900 :text-white"><a
                        _ngcontent-hxp-c18="" href="/groups"><span _ngcontent-hxp-c18=""
                          class="absolute inset-0 rounded-2xl"></span>Groups</a></h3>
                    <p _ngcontent-hxp-c18="" class="mt-1 text-sm text-zinc-600 :text-zinc-400">Learn about the group model and how
                      to create, retrieve, update, delete, and list groups.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="mx-auto mt-16 w-full max-w-2xl lg:max-w-5xl">
            <div class="relative h-8">
              <form class="absolute inset-0 flex items-center justify-center gap-6 md:justify-start">
                <p class="text-sm text-zinc-600 :text-zinc-400">Was this page helpful?</p>
                <div
                  class="group grid h-8 grid-cols-[1fr,1px,1fr] overflow-hidden rounded-full border border-zinc-900/10 :border-white/10">
                  <button type="submit"
                    class="px-3 text-sm font-medium text-zinc-600 transition hover:bg-zinc-900/2.5 hover:text-zinc-900 :text-zinc-400 :hover:bg-white/5 :hover:text-white"
                    data-response="yes">Yes</button>
                  <div class="bg-zinc-900/10 :bg-white/10"></div><button type="submit"
                    class="px-3 text-sm font-medium text-zinc-600 transition hover:bg-zinc-900/2.5 hover:text-zinc-900 :text-zinc-400 :hover:bg-white/5 :hover:text-white"
                    data-response="no">No</button>
                </div>
              </form>
            </div>
          </footer>
        </article>
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>