<!-- Start block -->
<section [ngClass]="disableHostScrolling" class="h-full bg-gray-100 p-3 sm:p-5 antialiased ">
  <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
    <div class="bg-white h-full relative shadow-md sm:rounded-lg overflow-hidden">
      <app-grid-header [data]="data"></app-grid-header>
      <app-grid-actions (viewAddModal)="toggleAddUserModal($event)"></app-grid-actions>
      <app-table [data]="data" (userToDelete)="toggleDeletetionModal($event)"
        (viewEditModal)="viewEditUserModal($event)" (userToEdit)="toggleEditUserModal($event)"></app-table>
      <app-grid-footer [data]="data" (goTo)="onGoTo($event)" (previous)="onPrevious($event) "
        (next)="onNext($event)"></app-grid-footer>
    </div>
  </div>
</section>
<!-- End block -->
<!-- Add Modal -->
<app-modal *ngIf="showAddUserModal">
  <div modal-header>
    <div class="flex flex-row-reverse justify-between ">
      <button type="button" (click)="closeAddUserModal()"
        class=" text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-3xl text-sm p-1.5  inline-flex items-center"
        data-modal-hide="popup-modal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg" (click)="true">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <h3 class="text-xl font-semibold text-gray-900 ">
        Add user
      </h3>
    </div>
  </div>
  <div modal-body>
    <app-form [fields]="[
          { name: 'firstname', label: 'firstname', type: 'text', maxlength:15 , minlength:3, autofocus:true,required:true,  validators: [validators.required] },
          { name: 'lastname', label: 'lastname', type: 'text', maxlength:15 , minlength:3, autofocus:false, required:true, validators: [validators.required] },
          { name: 'phonenumber', label: 'phonenumber', type: 'tel', maxlength:15 , minlength:11, autofocus:false,required:true,  validators: [validators.required] },
          { name: 'email', label: 'email', type: 'email', maxlength:30 , minlength:11 ,autofocus:false ,required:true, pattern:'[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$', validators: [validators.required, validators.email] },
          { name: 'birthdate', label: 'birthdate', type: 'date' ,autofocus:false,required:true, validators: [validators.required] },
          { name: 'address', label: 'address', type: 'textarea', maxlength:1000, minlength:12 , required:true, validators: [validators.required] },
        ]" (submitted)="onFormSubmitted($event)" (formStatus)="checkFormStatus($event)">
      <ng-container form-actions>
        <button (click)="closeAddUserModal()"
          class="inline-block  shrink-0 rounded-2xl border border-gray-300 mx-1 px-6 py-2 text-sm font-semibold text-gray-500 hover:bg-gray-300 hover:text-black focus:outline-none active:text-white disabled:cursor-not-allowed">
          cancel
          </button>
          <button type="submit" [disabled]="!isFormValid"
            class="inline-block px-6 py-2 rounded-2xl text-gray-700 font-semibold border border-green-600 hover:bg-green-600 hover:text-white active:text-white disabled:cursor-not-allowed disabled:bg-gray-200 disabled:border-gray-300 disabled:text-gray-400">
          save
          </button>
      </ng-container>
    </app-form>
    </div>
    </app-modal>
<!-- Add Modal -->
<!-- Edit Modal -->
<app-modal *ngIf="showEditUserModal">
  <div modal-header>
    <div class="flex flex-row-reverse justify-between ">
      <button type="button" (click)="closeEditUserModal()"
        class=" text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-3xl text-sm p-1.5  inline-flex items-center"
        data-modal-hide="popup-modal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg" (click)="true">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <h3 class="text-xl font-semibold text-gray-900 ">
        Edit user
      </h3>
    </div>
  </div>
  <div modal-body>
    <app-form [fields]="[
          { name: 'firstname', label: 'firstname', value:'asd', type: 'text', maxlength:15 , minlength:3, autofocus:true,required:true,  validators: [validators.required] },
          { name: 'lastname', label: 'lastname', value:'asd', type: 'text', maxlength:15 , minlength:3, autofocus:false, required:true, validators: [validators.required] },
          { name: 'phonenumber', label: 'phonenumber', value:'asd', type: 'tel', maxlength:15 , minlength:11, autofocus:false,required:true,  validators: [validators.required] },
          { name: 'email', label: 'email', type: 'email', value:'asd', maxlength:30 , minlength:11 ,autofocus:false ,required:true, pattern:'[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$', validators: [validators.required, validators.email] },
          { name: 'birthdate', label: 'birthdate', value:'asd', type: 'date' ,autofocus:false,required:true, validators: [validators.required] },
          { name: 'address', label: 'address', value:'asd', type: 'textarea', maxlength:1000, minlength:12 , required:true, validators: [validators.required] },
        ]" (submitted)="onFormSubmitted($event)" (formStatus)="checkFormStatus($event)">
      <ng-container form-actions>
        <button (click)="closeEditUserModal()"
          class="inline-block  shrink-0 rounded-2xl border border-gray-300 mx-1 px-6 py-2 text-sm font-semibold text-gray-500 hover:bg-gray-300 hover:text-black focus:outline-none active:text-white disabled:cursor-not-allowed">
          cancel
        </button>
        <button type="submit" [disabled]="!isFormValid"
          class="inline-block px-6 py-2 rounded-2xl text-gray-700 font-semibold border border-green-600 hover:bg-green-600 hover:text-white active:text-white disabled:cursor-not-allowed disabled:bg-gray-200 disabled:border-gray-300 disabled:text-gray-400">
          save
        </button>
      </ng-container>
    </app-form>
  </div>
</app-modal>
<!-- Edit Modal -->

<!-- Delete Modal -->
<app-popup *ngIf="showDeletetionConfirmationModal" (disableScrolling)="disableHostScrolling = $event">
  <div modal-header>
  </div>
  <div class="p-10 text-center" modal-body>
    <svg class="mx-auto mb-4 text-gray-500 w-14 h-14 " fill="none" stroke="currentColor" stroke-width="1.5"
      viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
    </svg>
    <h3 class=" text-lg font-semibold text-gray-500 ">are you sure about deleteing this user?</h3>
  </div>
  <div modal-footer>
    <div class="flex flex-row-reverse p-5">
      <button (click)="deleteUser()"
        class="inline-block px-6 py-2 rounded-2xl text-gray-700 font-semibold border border-red-600 hover:bg-red-600 hover:text-white active:text-white disabled:cursor-not-allowed disabled:bg-gray-200 disabled:border-gray-300 disabled:text-gray-400">
        confirm
      </button>
      <button role="button" (click)="toggleDeletetionModal()"
        class="inline-block  shrink-0 rounded-2xl border border-gray-300 mx-1 px-6 py-2 text-sm font-semibold text-gray-500 hover:bg-gray-300 hover:text-black focus:outline-none active:text-white disabled:cursor-not-allowed">cancel
      </button>
    </div>
  </div>
</app-popup>
<!-- Delete Modal -->

<!-- Toast -->
<app-toast *ngIf="showToast" [toastType]="toastType" [toastMessage]="toastMessage"
  (dismiss)="toggleToast()"></app-toast>
<!-- Toast -->

<!-- {
      name: 'category',
      label: 'Category',
      type: 'select',
      options: [
      { label: 'General Inquiry', value: 'general' },
      { label: 'Support Request', value: 'support' },
      { label: 'Bug Report', value: 'bug' }
      ]
      } -->