<section class="flex h-[94vh] flex-col gap-2 pt-4 ">
  <div class="py-4 px-4 mx-auto max-w-screen-2xl text-center border rounded-lg lg:py-4 lg:px-12">
    <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-600 md:text-4xl lg:text-5xl ">
      We invest in the world’s potential</h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 :text-gray-400">Here at Flowbite
      we
      focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.
    </p>
    <form class="mx-6">
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only :text-white">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 :text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" id="default-search"
          class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-zinc-500 focus:border-zinc-500 "
          placeholder="Search Over 1M Jobs..." required>
        <button type="submit"
          class="text-white absolute right-2.5 bottom-2.5 bg-zinc-700 hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-zinc-300 font-medium rounded-full text-sm px-6 py-2">Search</button>
      </div>
    </form>

  </div>
  <div class="grid grid-cols-5 gap-4 h-full ">
    <div class="col-span-2 p-2 border rounded-lg rounded-b-none">
      test
    </div>
    <div class="col-span-3 border rounded-lg rounded-b-none">
      asd
    </div>
  </div>
</section>